# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/

# Ignore content inside data but not the folder itself
/app/static/data/*
!/app/static/data/.gitkeep

# Ignore usuarios_db.json file
/app/static/usuarios_db.json